---
import { partFor } from "../lib/parts";
import type { CollectionEntry } from "astro:content";
import CardFace from "./flashcards/CardFace.astro";

type Props = { entry: CollectionEntry<"cards"> };
const { entry } = Astro.props;
const data = entry.data;
const part = partFor(data.num);
const numStr = String(data.num);
const tagZh = `${part.roman} · ${part.nameZh}`;
const tagEn = `${part.roman} · ${part.nameEn}`;
---
<article class="card-wrap" data-card-num={data.num}>
	<div class={`card part-${part.id}`}>
		<div class="bg" style={`background-image:url(${part.bgImage})`}></div>
		<div class="overlay-grad-l"></div>

		<div class="content lang-zh">
			<div class="essay">
				<div class="left">
					<div>
						<div class="eyebrow-row">
							<span class="theme-tag">{tagZh}</span>
						</div>
						<div class="big-num"><b>{numStr}</b><span class="of">/64</span></div>
						<CardFace card={data} face="front" area="left" variant="web" />
					</div>
					<div class="credit-line">Dr Peggy &nbsp;·&nbsp; Hong Kong</div>
				</div>
				<div class="right">
					<CardFace card={data} face="front" area="right" variant="web" />
				</div>
			</div>
		</div>

		<div class="content lang-en">
			<div class="back-en">
				<div class="left">
					<div>
						<div class="eyebrow-row">
							<span class="theme-tag">{tagEn}</span>
						</div>
						<div class="big-num"><b>{numStr}</b><span class="of">/64</span></div>
						<CardFace card={data} face="back" area="left" variant="web" />
					</div>
					<div class="credit-line">Dr Peggy &nbsp;·&nbsp; Hong Kong</div>
				</div>
				<div class="right">
					<CardFace card={data} face="back" area="right" variant="web" />
				</div>
			</div>
		</div>
	</div>
</article>
